{% extends 'base.html.twig' %}

{% block body %}
	<div class="container py-5">
		<h1 class="mb-5 text-center">Checkout</h1>
		<div
			class="row g-4">
			{# Left: Billing & Shipping Form #}
			<div class="col-lg-8">
				<div class="mb-4">
					<a href="{{ path('homepage') }}" class="btn btn-outline-secondary">
						<i class="bi bi-arrow-left"></i>
						Continue Shopping
					</a>
				</div>
				<div class="mb-4">
					<div class="card-body">
						<h5 class="card-title mb-4">Billing & Shipping Details</h5>

						{# Address fields #}
						{{ form_start(form, { action: path('checkout_process'), method: 'POST' }) }}
						<div
							class="row g-3">
							<!-- Billing & Shipping Details -->
							<div class="col-md-6">
								{{ form_label(form.firstName, 'First name') }}
								<span class="text-danger">*</span>
								{{ form_widget(form.firstName, { attr: { class: 'form-control' } }) }}
								{{ form_errors(form.firstName) }}
							</div>

							<div class="col-md-6">
								{{ form_label(form.lastName, 'Last name') }}
								<span class="text-danger">*</span>
								{{ form_widget(form.lastName, { attr: { class: 'form-control' } }) }}
								{{ form_errors(form.lastName) }}
							</div>

							<div class="col-12">
								{{ form_label(form.email, 'Email address') }}
								<span class="text-danger">*</span>
								{{ form_widget(form.email, { attr: { class: 'form-control' } }) }}
								{{ form_errors(form.email) }}
							</div>

							<div class="col-md-6">
								{{ form_label(form.phone, 'Phone Number') }}
								<span class="text-danger">*</span>
								{{ form_widget(form.phone, { attr: { class: 'form-control' } }) }}
								{{ form_errors(form.phone) }}
							</div>

							<div class="col-md-3">
								{{ form_label(form.country, 'Country') }}
								<span class="text-danger">*</span>
								{{ form_widget(form.country, { attr: { class: 'form-select' } }) }}
								{{ form_errors(form.country) }}
							</div>

							<div class="col-md-3">
								{{ form_label(form.zip, 'Zip / Postal code') }}
								<span class="text-danger">*</span>
								{{ form_widget(form.zip, { attr: { class: 'form-control' } }) }}
								{{ form_errors(form.zip) }}
							</div>

							<div class="col-md-6">
								{{ form_label(form.county, 'Region') }}
								{{ form_widget(form.county, { attr: { class: 'form-control' } }) }}
								{{ form_errors(form.county) }}
							</div>

							<div class="col-md-6">
								{{ form_label(form.city, 'City') }}
								<span class="text-danger">*</span>
								{{ form_widget(form.city, { attr: { class: 'form-control' } }) }}
								{{ form_errors(form.city) }}
							</div>

							<div class="col-12">
								{{ form_label(form.streetAddress, 'Street address') }}
								<span class="text-danger">*</span>
								{{ form_widget(form.streetAddress, { attr: { class: 'form-control' } }) }}
								{{ form_errors(form.streetAddress) }}
							</div>

							<hr
							class="my-4">

							{# Payment methods #}
							<h5 class="card-title mb-4">Payment Method
								<span class="text-danger">*</span>
							</h5>
							{% for method in form.paymentMethod %}
								<label>
									{{ form_widget(method) }}
									{{ method.vars.label }}
								</label>
							{% endfor %}

							<hr
							class="my-4">

							{# Shipping methods #}
							<h5 class="card-title mb-4">Shipping Method
								<span class="text-danger">*</span>
							</h5>
							{% for choice in form.shippingMethod %}
								<label class="form-check-label" for="{{ choice.vars.id }}">
									{{ form_widget(choice) }}
									{{ choice.vars.label|raw }}
								</label>
							{% endfor %}

							<div class="mt-4">
								<button class="btn btn-primary w-100 mb-3" type="submit">
									Place Order
								</button>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>

			<!-- Right: Order Summary -->
			<div
				class="col-lg-4">
				{# Calculate subtotal before using it #}
				{% set subtotal = 0 %}
				{% for item in cart %}
					{% set product = item.product %}
					{% set qty = item.quantity %}
					{% if product.specialPrice %}
						{% set productLineTotal = product.specialPrice * qty %}
					{% else %}
						{% set productLineTotal = product.price * qty %}
					{% endif %}
					{% set subtotal = subtotal + productLineTotal %}
				{% endfor %}

				<div class="card shadow-sm sticky-sidebar-checkout">
					<div class="card-body ms-6" id="order-summary" data-subtotal="{{ subtotal|number_format(2, '.', '') }}" data-shipping="{{ shipping|number_format(2, '.', '') }}">
						<h5 class="card-title mb-4">Order Summary</h5>

						{# Loop again to display items #}
						{% for item in cart %}
							{% set product = item.product %}
							{% set qty = item.quantity %}
							{% if product.specialPrice %}
								{% set productLineTotal = product.specialPrice * qty %}
							{% else %}
								{% set productLineTotal = product.price * qty %}
							{% endif %}
							{% set productLineTotalFormatted = (productLineTotal|number_format(2, ',', '.')|split(',')) %}

							<div
								class="d-flex mb-4 align-items-center">
								<!-- Image -->
								<div class="checkout-img">
									{% set firstImage = item.product.images|first %}
									{% if firstImage %}
										<img src="{{ asset('uploads/products/images/' ~ firstImage.imageName) }}" width="64" class="rounded" alt="{{ item.product.name }}">
									{% else %}
										<img src="{{ asset('images/generic_thumbnail.jpg') }}" width="64" class="rounded" alt="{{ item.product.name }}">
									{% endif %}
								</div>

								<!-- Product Name & Quantity -->
								<div class="ms-3 checkout-product">
									<h6 class="mb-1">{{ item.product.name }}</h6>
									<small class="text-muted">Qty:
										{{ item.quantity }}</small>
								</div>

								<!-- Price -->
								<div class="text-end checkout-price">
									<span>
										${{ productLineTotalFormatted[0] }}
										<sup>{{ productLineTotalFormatted[1] }}</sup>
									</span>
								</div>
							</div>
						{% endfor %}

						<hr>

						<div class="d-flex justify-content-between mb-2">
							<span>Subtotal</span>
							{% set subtotalLine = (subtotal|number_format(2, ',', '.')|split(',')) %}
							<span>
								${{ subtotalLine[0] }}
								<sup>{{ subtotalLine[1] }}</sup>
							</span>
						</div>
						<div class="d-flex justify-content-between mb-2">
							<span>Shipping</span>
							{% set shippingLine = (shipping|number_format(2, ',', '.')|split(',')) %}
							<span id="shipping-amount">
								${{ shippingLine[0] }}
								<sup>{{ shippingLine[1] }}</sup>
							</span>
						</div>

						<hr>

						<div class="d-flex justify-content-between mb-3">
							<strong>Total</strong>
							{% set totalsLine = ((subtotal + shipping)|number_format(2, ',', '.')|split(',')) %}
							<strong id="total-amount">
								${{ totalsLine[0] }}
								<sup>{{ totalsLine[1] }}</sup>
							</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		window.shippingPrices = {
			{% for method in shippingMethods %}
				"{{ method.id }}": {{ method.price }},
			{% endfor %}
		};
	</script>
{% endblock %}
